/* .cartao {
    width: 200px;
    height: 80px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
    float: left;
    position: relative;
    padding: 5px;
    margin: 2px;
} */

.ocupado {        
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white;    
}

.chamando {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white;
    animation: piscar 1s linear infinite;
}

.indisponivel {        
    color: white;
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
}

.pausa {        
    color: white;
    background-color: #f09309 !important;
    border-color: #f09309 !important;
}

@keyframes piscar {
    50% {
        opacity: 0;
    }
}

.disponivel {        
    color: white;
    border-color: #04ea04 !important;
    background-color: #04ea04;
}

.icone-posicao {
    position: absolute;
    top: 10px;
    right: 10px;
}